<div class="flex flex-col h-12">
  <p-floatlabel variant="on" class="h-8">
    <p-select
      [(ngModel)]="value"
      [id]="id"
      [options]="options"
      optionLabel="label"
      optionValue="value"
      [invalid]="isShowError"
      (ngModelChange)="onChange($event)"
      (onBlur)="onTouched()"
      class="w-full h-8"
      fluid
    >
      <ng-template #selectedItem let-selectedOption>
        <div class="flex items-center gap-2">
          <div>{{ selectedOption.label | translate }}</div>
        </div>
      </ng-template>
      <ng-template let-option #item>
        <div class="flex items-center gap-2">
          <div>{{ option.label | translate }}</div>
        </div>
      </ng-template>
    </p-select>
    <label [for]="id">{{ label }}</label>
  </p-floatlabel>

  <small class="text-red-500 block h-4 text-xs leading-4">
    @if (isShowError) {
      <div *ngFor="let error of errorMessages">
        {{ error.key | translate: error.params }}
      </div>
    }
  </small>
</div>
