@if (step === steps.ORDER) {
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex items-center justify-center min-h-screen">
      <p-card
        class="mb-0 w-[90%] sm:w-full max-w-xl rounded-xl"
      >

        <ng-template pTemplate="header">
          <div class="flex items-center justify-between w-full p-6">
            <span class="text-xl font-semibold">
              Закажи свое зелье!
            </span>

            <p-button
              severity="secondary"
              label="Назад"
              [routerLink]="'/orders'"
              styleClass="mb-4"
            />
          </div>
        </ng-template>

        <div class="flex flex-col gap-3">
          <app-input class="w-full" label="Номер зелья" formControlName="number"></app-input>

          <app-input class="w-full" label="Имя заказчика" formControlName="name"></app-input>

          <app-input-date class="w-full" label="Дата заказа" formControlName="date"></app-input-date>

          <app-input-date class="w-full" label="Дата готовности" formControlName="readyDate"></app-input-date>

          <app-input class="w-full" label="Адрес доставки" formControlName="address"></app-input>

          <app-input-select
            class="w-full"
            label="Способ доставки"
            formControlName="delivery"
            [options]="deliveryOptions"
          ></app-input-select>

          <app-input-select
            class="w-full"
            label="Способ оплаты"
            formControlName="payment"
            [options]="paymentOptions"
          ></app-input-select>
        </div>

        <p-button type="submit" [disabled]="isShowExplosion" severity="success" class="block mt-6"
                  label="Выбрать ингредиенты"/>
      </p-card>
    </div>
  </form>
}

@if (step === steps.INGREDIENTS) {
  <app-ingredients-table
    (onSubmit)="onSubmitIngredients($event)"
    [isDisableButton]="isShowExplosion"
    (onBack)="onBackFromIngredients()"
  ></app-ingredients-table>
}

@if (isShowExplosion) {
  <video autoplay muted loop playsinline preload="auto" type="video/webm" class="explosion">
    <source src="assets/explosion.webm" type="video/webm">
  </video>
}
